.card {
  border: 1px solid #c7c8ca;
  border-radius: 0.3125rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 0px;
  max-height: 350px;

  .card-header {
    font-size: 1.3rem;
    background-color: #63cece;
    font-weight: bold;
  }

  .card-text {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .card-body {
    background-color: #e5f3f7;
  }
}
