@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background: #f5f5f5;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid {
  padding: 3rem;

  .spinner-border {
    width: 6rem;
    height: 6rem;
    margin-top: 5rem;
  }

  .card {
    border: 1px solid #c7c8ca;
    border-radius: 0.3125rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 0px;
    max-height: 350px;

    .card-header {
      font-size: 1.3rem;
      background-color: #63cece;
      font-weight: bold;
    }

    .card-text {
      font-size: 0.8rem;
      font-weight: bold;
    }

    .card-body {
      background-color: #e5f3f7;
      height: 292px;
    }
  }

  .network-issue-text {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .btn-action {
    padding: 0.2rem;

    .btn {
      width: 100%;
    }
  }

  .weather-details-date {
    padding: 0.75rem 1.25rem;
  }
}
